/*
      Author:   Liam Eller
      Date:      10/13/21cs
      Purpose:  CSS template
*/
body {
    background-color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: purple;
}
.flashy {
    text-align: center;
    color:red;
    text-decoration: italic;
}
.best {
    color: rgb(255, 187, 0);
    text-decoration: underline;
  
}
ol {
    color: rgb(255, 230, 0);
    margin-left: 42%;
    font-family: fantasy;

}
img {
    max-width: 500px;
    max-height: 500px;
    height: auto;
    width: auto;
    display: block;
    margin: auto;
}