/*
      Author:   Liam Eller
      Date:      10/13/21cs
      Purpose:  CSS template
*/
body {
    background-color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
}
.flashy {
    text-align: center;
    color:red;
    text-decoration: italic;
}
.best {
    color: gold;
    text-decoration: underline;
    font-family: fantasy;
}
ol {
    margin-left: 45%;

}
img {
    height: auto;
    width: auto;
    margin: auto;
    display: auto;
    max-width: 100%;
    max-height: 100%;
}